{% extends 'base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold text-[#22224b] mb-4">{{ menu_item.name }}</h1>
    <p class="text-[#4a4e69]"><strong>Price:</strong> ${{ menu_item.price }}</p>
{% if menu_item.photo %}
    <img src="{{ menu_item.photo.url }}" alt="{{ menu_item.name }}" class="w-64 h-64 mt-4">
{% endif %}
<p class="mt-4">{{ menu_item.description }}</p>
<p class="mt-4">
    <strong>Categories:</strong>
    {% for category in menu_item.categories.all %}
        <span class="bg-[#F2e9e4] text-[#22224b] px-2 py-1 rounded">{{ category.name }}</span>
    {% endfor %}
</p>
<div class="mt-4">
    <a href="{% url 'menu_item_update' menu.slug menu_item.id %}"
       class="bg-[#4a4e69] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#22224b]">Edit</a>
    <a href="{% url 'menu_item_delete' menu.slug menu_item.id %}"
       class="bg-[#c56c86] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#9a8c98]">Delete</a>
    <a href="{% url 'menu_item_list' menu.slug %}"
       class="bg-[#F2e9e4] text-[#22224b] px-4 py-2 rounded-lg shadow-md hover:bg-[#f0d9d8]">Back to Menu Items</a>
</div>
{% endblock %}
