{% extends 'base.html' %}

{% block content %}
    {% include 'menu/menu_item/menu_item_list_header.html' %}
    <a href="{% url 'menu_item_create' menu.slug %}"
       class="bg-[#4a4e69] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#22224b]">Create New Menu Item</a>
    <ul class="mt-4">
        {% for item in page_obj %}
            <li class="border-b py-2 flex justify-between">
                <div class="flex items-center">
                    <div class="m-2">
                        {% include 'components/image_display.html' with image_url=item.generate_access_presigned_url alt_text=item.name width="16" height="16" %}
                    </div>
                    <div>
                        <a href="{% url 'menu_item_detail' menu.slug item.id %}"
                           class="text-lg font-semibold text-[#4a4e69] hover:text-[#22224b]">{{ item.name }}</a>
                        <p class="text-[#9a8c98]">${{ item.price }}</p>
                        <p class="text-sm">Category:
                            <span class="bg-[#F2e9e4] text-[#22224b] px-2 py-1 rounded">{{ item.get_category_name }}</span>
                        </p>
                    </div>
                </div>
                <div class="flex items-center space-x-2">
                    <a href="{% url 'menu_item_update' menu.slug item.id %}"
                       class="bg-[#4a4e69] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#22224b]">Edit</a>
                    <a href="{% url 'menu_item_delete' menu.slug item.id %}"
                       class="bg-[#c56c86] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#9a8c98]">Delete</a>
                </div>
            </li>
        {% empty %}
            <li class="text-[#9a8c98]">No menu items for this menu.</li>
        {% endfor %}
    </ul>

    <!-- Pagination Controls -->
    <div class="mt-6 flex justify-center items-center space-x-2">
    <span class="text-[#4a4e69] font-semibold">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

        <div class="flex space-x-1">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="px-3 py-2 bg-[#4a4e69] text-white rounded-lg shadow-md hover:bg-[#22224b]">
                    First
                </a>
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="px-3 py-2 bg-[#4a4e69] text-white rounded-lg shadow-md hover:bg-[#22224b]">
                    Previous
                </a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                   class="px-3 py-2 bg-[#4a4e69] text-white rounded-lg shadow-md hover:bg-[#22224b]">
                    Next
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}"
                   class="px-3 py-2 bg-[#4a4e69] text-white rounded-lg shadow-md hover:bg-[#22224b]">
                    Last
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}
