{% extends 'base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold text-[#22224b] mb-4">
        Menu Items for
        <a href="{% url 'menu_detail' menu.slug %}" class="text-[#4a4e69] hover:text-[#22224b]">
            "{{ menu.name }}"
        </a>
    </h1>
    <a href="{% url 'menu_item_create' menu.slug %}"
       class="bg-[#4a4e69] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#22224b]">Create New Menu Item</a>
<ul class="mt-4">
    {% for item in menu_items %}
    <li class="border-b py-2 flex justify-between">
        <div>
            <a href="{% url 'menu_item_detail' menu.slug item.id %}" class="text-lg font-semibold text-[#4a4e69] hover:text-[#22224b]">{{ item.name }}</a>
            <p class="text-[#9a8c98]">${{ item.price }}</p>
        </div>
        <div>
            <a href="{% url 'menu_item_update' menu.slug item.id %}" class="bg-[#4a4e69] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#22224b]">Edit</a>
            <a href="{% url 'menu_item_delete' menu.slug item.id %}" class="bg-[#c56c86] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#9a8c98]">Delete</a>
        </div>
    </li>
    {% empty %}
    <li class="text-[#9a8c98]">No menu items for this menu.</li>
    {% endfor %}
</ul>
{% endblock %}
