{% extends 'base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold text-[#22224b] mb-4">
        Categories for
        <a href="{% url 'menu_detail' menu.slug %}" class="text-[#4a4e69] hover:text-[#22224b]">
            "{{ menu.name }}"
        </a>
    </h1>
    <a href="{% url 'category_create' menu.slug %}"
       class="bg-[#4a4e69] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#22224b]">Create New Category</a>
<ul class="mt-4">
    {% for category in categories %}
    <li class="border-b py-2 flex justify-between">
        <div>
            <a href="{% url 'category_detail' menu.slug category.id %}" class="text-lg font-semibold text-[#4a4e69] hover:text-[#22224b]">{{ category.name }}</a>
        </div>
        <div>
            <a href="{% url 'category_update' menu.slug category.id %}" class="text-[#4a4e69] hover:text-[#22224b] mr-2">Edit</a>
            <a href="{% url 'category_delete' menu.slug category.id %}" class="text-[#c56c86] hover:text-[#9a8c98]">Delete</a>
        </div>
    </li>
    {% empty %}
    <li class="text-[#9a8c98]">No categories for this menu.</li>
    {% endfor %}
</ul>
{% endblock %}
