{% extends 'base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold text-[#22224b] mb-4">
        {% if is_update %}
        Update Category for "{{ menu.name }}"
    {% else %}
        Create New Category for "{{ menu.name }}"
    {% endif %}
</h1>

    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-4">
            <label class="block text-[#4a4e69] text-sm font-bold mb-2">
                {{ field.label_tag }}
            </label>
            {{ field }}
            {% if field.help_text %}
                <p class="text-[#9a8c98] text-xs italic">{{ field.help_text }}</p>
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <div class="flex items-center justify-between">
        <button type="submit"
                class="btn-primary">
            {% if is_update %}
                Update Category
            {% else %}
                Create Category
            {% endif %}
        </button>
        <a href="{% url 'category_list' menu.slug %}"
           class="btn-cancel">
            Cancel
        </a>
    </div>
</form>
{% endblock %}
