<section id="{{ category.id }}" class="mt-8">
    <div class="flex items-center mb-4">
        <h2 class="text-xl font-semibold text-[#4a4e69]">{{ category.name }}</h2>
        {% if user.is_authenticated and user == menu.user %}
            <div x-data="{ showOptions: false }" class="relative">
                <button @click="showOptions = !showOptions"
                        class="bg-[#4a4e69] text-white px-2 py-1 rounded-lg shadow-md hover:bg-[#22224b] transition duration-300 ml-4">
                    Options
                </button>
                <div x-show="showOptions" @click.away="showOptions = false"
                     class="absolute bg-white border rounded-lg shadow-lg mt-2 py-2 w-48 z-10">
                    <a href="{% url 'category_update' menu.slug category.id %}"
                       class="block px-4 py-2 text-[#4a4e69] hover:bg-[#f8f8f8] transition duration-300">Edit</a>
                    <a href="{% url 'menu_item_create' menu.slug %}?category={{ category.id }}"
                       class="block px-4 py-2 text-[#4a4e69] hover:bg-[#f8f8f8] transition duration-300">Add
                        Item</a>
                    <a href="{% url 'category_delete' menu.slug category.id %}"
                       class="block px-4 py-2 text-[#c56c86] hover:bg-[#f8f8f8] transition duration-300">Delete</a>
                </div>
            </div>
        {% endif %}
    </div>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {% for item in category.menu_items.all %}
            {% include 'menu/menu_item/menu_item.html' %}
        {% empty %}
            <li class="text-[#6b7280]">No items in this category.</li>
        {% endfor %}
    </ul>
</section>