<!-- menu_app/templates/menu_app/menu_form.html -->

{% extends 'menu/../base.html' %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">
    {% if is_update %}
        Update Menu
    {% else %}
        Create New Menu
    {% endif %}
</h1>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-4">
            {% if field.label == 'Logo' %}
                {% if form.logo.value %}
                    <div>
                        <img src="{{ form.logo.value.url }}" alt="{{ form.instance.name }} Logo" class="w-32 h-32 mb-4">
                        {{ form.logo }}
                    </div>
                {% else %}
                    {{ form.logo }}
                {% endif %}
            {% else %}
            <label class="block text-gray-700 text-sm font-bold mb-2">
                {{ field.label_tag }}
            </label>
            {{ field }}
            {% if field.help_text %}
                <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    <div class="flex items-center justify-between">
        <button type="submit" class="btn-primary">
            {% if is_update %}
                Update Menu
            {% else %}
                Create Menu
            {% endif %}
        </button>
        <a href="{% url 'menu_list' %}" class="btn-cancel">
            Cancel
        </a>
    </div>
</form>
{% endblock %}
