{% extends 'menu/../base.html' %}

{% block content %}
    <div>
        <h1 class="text-3xl font-bold text-[#22224b] mb-6">My Menus</h1>

        <a href="{% url 'menu_create' %}"
           class="btn-primary">
            Create New Menu
        </a>

        <ul class="mt-6">
            {% for menu in menus %}
                {% include 'menu/menu.html' %}
            {% empty %}
                <li class="text-[#6b7280]">You have no menus.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
