{% extends 'base.html' %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">
    {% if is_update %}
        Update Menu
    {% else %}
        Create New Menu
    {% endif %}
</h1>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <div>
            <h3 class="text-lg font-semibold mb-2">Menu Information</h3>
            {% for field in menu_form %}
                <div class="mb-4">
                    {% if field.label == 'Logo' %}
                        {% if menu_form.logo.value %}
                            <div>
                                {{ menu_form.logo }}
                            </div>
                        {% else %}
                            {{ menu_form.logo }}
                        {% endif %}
                    {% else %}
                        <label class="block text-gray-700 text-sm font-bold mb-2">
                            {{ field.label_tag }}{% if not field.field.required and not field.is_hidden %}
                                <span class="text-gray-500">(optional)</span>
                            {% endif %}
                        </label>
                        {{ field }}
                        {% if field.help_text %}
                            <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
                        {% endif %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-red-500 text-xs italic">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div>
            <h3 class="text-lg font-semibold mb-2">Menu Details</h3>
            {% for field in menu_detail_form %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        {{ field.label_tag }}{% if not field.field.required and not field.is_hidden %}
                            <span class="text-gray-500">(optional)</span>
                        {% endif %}
                    </label>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-red-500 text-xs italic">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="flex items-center justify-between">
        <button type="submit" class="btn-primary">
            {% if is_update %}
                Update Menu
            {% else %}
                Create Menu
            {% endif %}
        </button>
        <a href="{% url 'menu_list' %}" class="btn-cancel">
            Cancel
        </a>
    </div>
</form>
{% endblock %}
