{% extends 'menu/../base.html' %}

{% block container_styles %}
    bg-[#ffffff] rounded-lg shadow-md my-6 mx-auto p-6 sm:p-8 w-full md:w-3/4 lg:w-2/3
{% endblock %}

{% block floating_bar %}
    {% include 'menu/menu_options_bar.html' %}
{% endblock %}

{% block content %}
    <div class="menu-detail">
        <div class="flex items-center mb-6">
            {% if menu.logo %}
                <img src="{{ menu.logo.url }}" alt="{{ menu.name }} Logo" class="w-40 h-40 rounded-full shadow-lg mr-4"
                     loading="lazy">
            {% endif %}
            <h1 class="text-3xl font-bold text-[#4a4e69]">{{ menu.name }}</h1>
        </div>
        {% if categories %}
            <!-- Navigation -->
            <nav class="mb-6">
                <ul class="flex space-x-4">
                    {% for category in categories %}
                        <li>
                            <a href="#{{ category.id }}"
                               class="text-[#4a4e69] hover:text-[#22224b] transition duration-300">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                    {% if menu_items_without_category %}
                        <li>
                            <a href="#other"
                               class="text-[#4a4e69] hover:text-[#22224b] transition duration-300">Other</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

            <!-- Categories and Items -->
            {% for category in categories %}
                {% include 'menu/category/category.html' %}
            {% endfor %}

            {% if menu_items_without_category %}
                <section id="other" class="mt-8">
                    <div class="flex items-center mb-4">
                        <h2 class="text-xl font-semibold text-[#4a4e69]">Other</h2>
                        {% if user.is_authenticated and user == menu.user %}
                            <a href="{% url 'menu_item_create' menu.slug %}"
                               class="bg-[#4a4e69] text-white px-2 py-1 rounded-lg shadow-md hover:bg-[#22224b] transition duration-300 ml-4">Add
                                Item</a>
                        {% endif %}
                    </div>
                    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        {% for item in menu_items_without_category %}
                            {% include 'menu/menu_item/menu_item.html' %}
                        {% empty %}
                            <li class="text-[#6b7280]">No items in the "Other" category.</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        {% else %}
            <!-- No Categories -->
            <section>
                <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    {% for item in menu.menu_items.all %}
                        {% include 'menu/menu_item/menu_item.html' %}
                    {% empty %}
                        <li class="text-[#6b7280]">No items in this menu.</li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </div>
{% endblock %}
