<!-- menu_app/templates/menu_app/menu_list.html -->

{% extends 'menu/base.html' %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">My Menus</h1>
<a href="{% url 'menu_create' %}" class="bg-blue-500 text-white px-4 py-2 rounded">Create New Menu</a>
<ul class="mt-4">
    {% for menu in menus %}
    <li class="border-b py-2 flex justify-between">
        <div>
            <a href="{% url 'menu_detail' menu.slug %}" class="text-lg font-semibold">{{ menu.name }}</a>
            <p>{{ menu.description }}</p>
        </div>
        <div>
            <a href="{% url 'menu_update' menu.slug %}" class="text-blue-500 mr-2">Edit</a>
            <a href="{% url 'menu_delete' menu.slug %}" class="text-red-500">Delete</a>
        </div>
    </li>
    {% empty %}
    <li>You have no menus.</li>
    {% endfor %}
</ul>
{% endblock %}
